<!DOCTYPE html>
<html lang="en">

<head>
  <!-- SHARED HEAD -->
  <%- include('partials/sharedHead') %>

  <!-- Title tag in the browser and Google results -->
  <title>GroupTripper | Log In</title>
  <meta name="robots" content="noindex, nofollow">

  <!-- css -->
  <link rel="stylesheet" href="/css/authentication.css">
</head>

<body>
  <!-- header partial -->
  <%- include('partials/header'); %>
  <section id="auth-background">
    <div class="container py-5 h-100">
      <div id="auth-container-2">
        <div id="auth-container-3">
          <div class="card">
            <div class="row g-0">
              <div id="authentication-image-container" class="col-md-6 col-lg-5 d-none d-md-block">
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form method="POST" id="auth-form" action="/auth/<%= authType %>">
                    <h4 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Welcome to GroupTripper!</h5>
                    
                    <% if (authType === "login") { %>
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
                    <% } else { %>
                      <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Create a new account to start planning</h5>
                      <div class="form-outline mb-4">
                        <input id="name" type="name" autocomplete="one-time-code" name="name" 
                          class="form-control form-control-lg" required=true 
                          pattern="^[a-zA-Z]{1,}$"
                          oninvalid="setCustomValidity('Must contain only letters')"
                          oninput="setCustomValidity('')"/>
                        <label class="form-label" for="name">Name</label>
                      </div>
                      <div class="form-outline mb-4">
                        <input type="surname" id="surname" name="surname" autocomplete="one-time-code" 
                        class="form-control form-control-lg" required=true
                        pattern="^[a-zA-Z]{1,}$"
                          oninvalid="setCustomValidity('Must contain only letters')"
                          oninput="setCustomValidity('')"/>
                        <label class="form-label" for="surname">Surname</label>
                      </div>
                     <% } %>

                    <!-- Email validation -->
                    <div class="form-outline mb-4">
                      <input type="email" id="email" name="email" class="form-control form-control-lg" 
                        required=true autocomplete="one-time-code"/>
                      <label class="form-label" for="email">Email address</label>
                    </div>
                    
                    <!-- Password validation -->
                    <div class="form-outline mb-4">
                      <input type="password" id="password" name="password" 
                        class="form-control form-control-lg" required=true autocomplete="one-time-code"
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&-_])[A-Za-z\d@$!%*?&-_]{8,12}$"/>
                      <label class="form-label" for="password">Password</label>
                      <% if (authType === "signup") { %>
                        <ul id="pw-description">
                          <li>between 8 and 12 characters long</li>
                          <li>at least 1 uppercase letter</li>
                          <li>at least 1 lowercase letter</li>
                          <li>at least 1 number</li>
                          <li>at least 1 symbol of: @$!%*?&-_</li>
                        </ul>
                      <% } %>
                    </div>

                    <div class="pt-1 mb-4">
                      <% if (authType === "login") { %>
                      <input class="btn btn-dark btn-lg btn-block" type="submit" value="Login">
                      <% } else { %>
                        <div class="form-outline mb-4">
                          <input type="checkbox" id="termsandconditions" name="termsandconditions" required=true>
                          <label for="termsandconditions">
                            I accept GroupTripper's <a href="#!" class="small text-muted">Terms of use</a>
                            and <a href="#!" class="small text-muted">Privacy policy</a>
                          </label>
                        </div>
                        <input class="btn btn-dark btn-lg btn-block" type="submit" value="Register">
                      <% } %>
                    </div>

                    <% if (authType === "login") { %>
                      <a class="small text-muted" href="#!">Forgot password?</a>
                      <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="/auth/signup"
                          style="color: #393f81;">Register here</a></p>
                    <% } else { %>
                      <p class="mb-5 pb-lg-2" style="color: #393f81;">Already have an account? <a href="/auth/login"
                        style="color: #393f81;">Log in here</a></p>
                    <% } %>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% if ( !(errorCode === null) ) { %>
    <!-- Open modal on page load in case there were any errors with form submission -->
    <section>
      <script type="text/javascript">
        $(window).on('load', function() {
            $('#error-modal').modal('show');
        });

        function closeModal(){
          $('#error-modal').modal('hide');
        };
      </script>
      <!-- modal displaying potential errors -->
      <div id="error-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Ops! Looks like something went wrong</h5>
            </div>
            <div class="modal-body">
              <p>Error code: <%= errorCode %></p>
              <p>Error message: <%= errorMessage %></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">OK</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  <% } %>
</body>

</html>