<!DOCTYPE html>
<html lang="en">

<head>
  <!-- SHARED HEAD -->
  <%- include('partials/sharedHead') %>

  <!-- Title tag in the browser and Google results -->
  <title>GroupTripper | Your trips</title>
  <meta property="og:title" content="GroupTripper: best free group trip planner app - your trips" data-rh="true">
  <meta property="twitter:title" content="GroupTripper: best free group trip planner app - your trips" data-rh="true">
  <meta name="description" content="Plan your group vacation or trip with the best online travel planner app. Create itineraries faster as a group by sharing suggestions, creating polls, and voting with your friends." data-rh="true">
  <meta property="og:description" content="Plan your group vacation or trip with the best online travel planner app. Create itineraries faster as a group by sharing suggestions, creating polls, and voting with your friends." data-rh="true">
  <meta name="twitter:description" content="Plan your group vacation or trip with the best online travel planner app. Create itineraries faster as a group by sharing suggestions, creating polls, and voting with your friends." data-rh="true">
  <meta property="og:image:alt" content="Screenshot of GroupTripper: one view for your map and itinerary" data-rh="true">

  <!-- css -->
  <link rel="stylesheet" href="/css/generic.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" href="/css/profile.css">

  <!-- JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/profile.js" ></script>
  <!-- 
    https://www.npmjs.com/package/croppie 
    https://foliotek.github.io/Croppie/
  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.js"></script>
</head>

<body>
  <div>
    <%- include('partials/header'); %>
  </div>
  <div class="outer-container">
    <div class="profile-tab-container">
      <!-- tab names -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <% if (activeTab == 'profileDetails') { %>
            <% var personalInfoClass = "nav-link active" %>
          <% } else { %>  
            <% var personalInfoClass = "nav-link" %>
          <% } %> 
          <a class="<%= personalInfoClass %>" aria-current="page" href="#personal-info-tab" data-bs-toggle="tab">Personal Info</a>
        </li>
        <li class="nav-item">
          <% if (activeTab == 'friends') { %>
            <% var friendsClass = "nav-link active" %>
          <% } else { %>  
            <% var friendsClass = "nav-link" %>
          <% } %> 
          <a class="<%= friendsClass %>" href="#friends-tab" data-bs-toggle="tab" data-bs-toggle="tab">Friends</a>
        </li>
      </ul>
      <!-- tab content -->
      <div class="tab-content">
        <!-- ---------------------------- personal info tab ------------------------->
        <% if (activeTab == 'profileDetails') { %>
          <% var personalInfoPaneClass = "tab-pane active" %>
        <% } else { %>  
          <% var personalInfoPaneClass = "tab-pane fade" %>
        <% } %> 
        <div id="personal-info-tab" class="<%= personalInfoPaneClass %>">
          <div id="profile-picture-container">
            <% if (profileDetails.picturePath === null) { %>
              <img id="profile-pic" src="/assets/defaultUserImage.jpg" alt="User profile picture">
            <% } else { %>  
              <img id="profile-pic" src="<%= profileDetails.picturePath %>" alt="User profile picture">
            <% } %> 
          </div>
          <div id="edit-profile-picture-container">
            <!-- Profile picture edit button -->
            <button type="button" id="change-picture-button" class="btn btn-secondary" onclick="openEditPictureModal()">
              Edit picture
            </button>
          </div>
          <div id="username-container">
            <label id="username-input-label" for="username-input" class="form-label">Username</label>
            <input 
              autocomplete="one-time-code" 
              class="form-control" id="username-input" 
              required=true 
              value="<%= profileDetails.username %>"
              disabled>
            <button id="edit-username-button" class="btn btn-secondary" onclick="alterEditUsername();">
              <span id="edit-username-button-icon" class="material-symbols-outline modified">edit</span>
            </button>
          </div>
        </div>
        <!-- ---------------------------- friends tab ------------------------------->
        <% if (activeTab == 'friends') { %>
          <% var friendsPaneClass = "tab-pane active" %>
        <% } else { %>  
          <% var friendsPaneClass = "tab-pane fade" %>
        <% } %> 
        <div id="friends-tab" class="<%= friendsPaneClass %>">
          <!-- friendship types -->
          <% var friendshipsSentPending = [] %>
          <% var friendshipsReceivedPending = [] %>
          <% var friendshipsAccepted = [] %>
          <% for (const [uid, friendshipStatus] of Object.entries(profileDetails.friends)) { %>
            <% if (friendshipStatus === 'sent_pending') { %>
              <% friendshipsSentPending.push(uid) %>
            <% } else if (friendshipStatus === 'received_pending') { %>
              <% friendshipsReceivedPending.push(uid) %>
            <% } else if (friendshipStatus === 'friends') { %>
              <% friendshipsAccepted.push(uid) %>
            <% } %> 
          <% } %>
          <!-- search friends -->
          <div class="shaded-container">
            <h5>Add new friends</h5>
            <!-- form action below is dynamically changed based on user search calling searchFriend-->
            <form id="search-bar-container" method="POST" action="/friends/search/:string">
              <input type="search" id="search-friend-input" name="searchString" class="form-control" placeholder="Search username or email address"/>
              <button type="button" class="btn btn-secondary" id="search-friends-button" onclick="event.stopPropagation(); searchFriend();">
                <i class="fas fa-search"></i>
              </button>
            </form>
            <div id="search-result">
              <% if (friendsSearchResult !== null) { %>
                <% if (friendsSearchResult.length == 0) { %>
                  <p>We found no users matching your search criteria</p>
                <% } else { %>  
                  <h6>Search results: </h6>
                  <% for (let searchResult of friendsSearchResult) { %>
                    <div class="friend-search-result">
                      <div class="friend-search-result-left">
                        <% if (searchResult.picturePath === null) { %>
                          <img class="friend-profile-pic" src="/assets/defaultUserImage.jpg" alt="friend profile picture">
                        <% } else { %>  
                          <img class="friend-profile-pic" src="<%= searchResult.picturePath %>" alt="friend profile picture">
                        <% } %> 
                        <p><%= searchResult.username %></p>
                      </div>
                      <% if (friendshipsSentPending.includes(searchResult.uid) || friendshipsReceivedPending.includes(searchResult.uid)) { %>
                        <button class="btn btn-secondary" type="button" disabled>Friendship pending</button>
                      <% } else if (friendshipsAccepted.includes(searchResult.uid)) { %>
                        <button class="btn btn-secondary" type="button" disabled>Friends</button>
                      <% } else if (searchResult.uid === userID) { %>
                          <button class="btn btn-secondary" type="button" disabled>This is you</button>
                      <% } else  { %>
                        <div class="friend-search-result-right">
                          <form method="POST" action="/friends/add">
                            <input type="hidden" name="friendToAdd" value="<%= searchResult.uid %>">
                            <button class="btn btn-secondary" type=submit>
                              <i class="fas fa-add"></i>
                            </button>
                          </form>
                        </div>
                      <% } %> 
                    </div>
                  <% } %> 
                <% } %> 
              <% } %> 
            </div>
          </div>
          <!-- pending friendship requests sent-->
          <% if (friendshipsSentPending.length !== 0) { %>
            <div class="shaded-container">
              <h5>Frienship requests sent and pending</h5>
                <% for (let friendUid of friendshipsSentPending) { %>
                  <% var friendProfile = friendsProfiles[friendUid] %>
                    <div class="friend-container inner">
                      <% if (friendProfile.picturePath === null) { %>
                        <img class="friend-profile-pic" src="/assets/defaultUserImage.jpg" alt="friend profile picture">
                      <% } else { %>  
                        <img class="friend-profile-pic" src="<%= friendProfile.picturePath %>" alt="friend profile picture">
                      <% } %> 
                      <p><%= friendProfile.username %></p>
                    </div>
                <% } %> 
            </div>
          <% } %> 
          <!-- pending friendship requests received -->
          <% if (friendshipsReceivedPending.length !== 0) { %>
            <div class="shaded-container">
              <h5>Frienship requests received</h5>
                <% for (let friendUid of friendshipsReceivedPending) { %>
                  <% var friendProfile = friendsProfiles[friendUid] %>
                    <div class="friend-container">
                      <div class="friend-search-result-left">
                        <% if (friendProfile.picturePath === null) { %>
                          <img class="friend-profile-pic" src="/assets/defaultUserImage.jpg" alt="friend profile picture">
                        <% } else { %>  
                          <img class="friend-profile-pic" src="<%= friendProfile.picturePath %>" alt="friend profile picture">
                        <% } %> 
                        <p><%= friendProfile.username %></p>
                      </div>
                      <div class="friend-search-result-right">
                        <form method="POST" action="/friends/remove">
                          <input type="hidden" name="friendID" value="<%= friendUid %>">
                          <button class="btn btn-secondary" type=submit>
                            Decline
                          </button>
                        </form>
                        <form method="POST" action="/friends/accept">
                          <input type="hidden" name="friendID" value="<%= friendUid %>">
                          <button class="btn btn-secondary" type=submit>
                            Accept
                          </button>
                        </form>
                      </div>
                    </div>
                <% } %> 
            </div>
          <% } %> 
          <!-- existing friends -->
          <div class="shaded-container">
            <h5>Friends</h5>
            <% if (friendshipsAccepted.length === 0) { %>
              <p>No friends added yet</p>
            <% } else { %>  
              <% for (let friendUid of friendshipsAccepted) { %>
                <% var friendProfile = friendsProfiles[friendUid] %>
                  <div class="friend-container">
                    <div class="friend-search-result-left">
                      <% if (friendProfile.picturePath === null) { %>
                        <img class="friend-profile-pic" src="/assets/defaultUserImage.jpg" alt="friend profile picture">
                      <% } else { %>  
                        <img class="friend-profile-pic" src="<%= friendProfile.picturePath %>" alt="friend profile picture">
                      <% } %> 
                      <p><%= friendProfile.username %></p>
                    </div>
                    <div class="friend-search-result-right">
                      <form method="POST" action="/friends/remove">
                        <input type="hidden" name="friendToRemove" value="<%= friendUid %>">
                        <button class="btn btn-secondary" type=submit>
                          <i class="fas fa-delete"></i>
                        </button>
                      </form>
                    </div>
                  </div>
              <% } %> 
            <% } %> 
          </div>
        </div>
    </div>
    <p id="current-user-uid"><%= userID %></p>
  </div>
  <section>
    <!-- edit picture modal 
    https://codepen.io/rsales/pen/XyWORN
    -->
    <div id="edit-picture-modal" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit picture</h5>
          </div>
          <div class="modal-body">
            <input type="file" id="profile-pic-input"accept="image/*" onchange="initializeCroppie(this);">
            <% if (profileDetails.picturePath === null) { %>
              <img id="uploaded-image" src="/assets/defaultUserImage.jpg" alt="User profile picture">
            <% } else { %>  
              <img id="uploaded-image" src="<%= profileDetails.picturePath %>" alt="User profile picture">
            <% } %> 
          </div>
          <div class="modal-footer" id="trips-modal-footer">
            <button id="cancel-button" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button id="save-picture-button" type="button" class="btn btn-secondary">Save</button>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  <section>

  <%- include('partials/footer'); %>
</body>

</html>