<!DOCTYPE html>
<html lang="en">

<head>
  <!-- SHARED HEAD -->
  <%- include('partials/sharedHead') %>

  <!-- Title tag in the browser and Google results -->
  <title>GroupTripper | Your trips</title>
  <meta property="og:title" content="GroupTripper: best free group trip planner app - your trips" data-rh="true">
  <meta property="twitter:title" content="GroupTripper: best free group trip planner app - your trips" data-rh="true">
  <meta name="description" content="Plan your group vacation or trip with the best online travel planner app. Create itineraries faster as a group by sharing suggestions, creating polls, and voting with your friends." data-rh="true">
  <meta property="og:description" content="Plan your group vacation or trip with the best online travel planner app. Create itineraries faster as a group by sharing suggestions, creating polls, and voting with your friends." data-rh="true">
  <meta name="twitter:description" content="Plan your group vacation or trip with the best online travel planner app. Create itineraries faster as a group by sharing suggestions, creating polls, and voting with your friends." data-rh="true">
  <meta property="og:image:alt" content="Screenshot of GroupTripper: one view for your map and itinerary" data-rh="true">

  <!-- css -->
  <link rel="stylesheet" href="/css/generic.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" href="/css/trip.css">

  <!-- JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <!-- https://www.daterangepicker.com/ -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

  <!-- Tom Select -->
  <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>
  <script src="/js/trip.js"></script>
</head>

<body>
  <div>
    <%- include('partials/header'); %>
  </div>
  <div class="outer-container">
    <div class="title-container"
      style="background-image: url('<%= trip.picture.src.landscape %>');"
      alt="'<%= trip.picture.alt %>' by <%= trip.picture.photographer %>" src="<%= trip.picture.src.medium %>">
      <div id="title-inner-container">
        <h1 id="title"><%= trip.tripTitle %></h1>
        <button id="edit-trip-title-button" class="btn btn-secondary" onclick="alterTripTitle('<%= tripID %>');">
          <i id="edit-trip-title-button-icon" class="fas fa-pencil"></i>
        </button>
      </div>
    </div>

    <div class="trip-tab" id="trip-<%= trip.tripID %>" >
      <!-- tab names -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#participants-tab" data-bs-toggle="tab">Participants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#itinerary" data-bs-toggle="tab" data-bs-toggle="tab">Itinerary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#polls" data-bs-toggle="tab" data-bs-toggle="tab">Polls</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#settings" data-bs-toggle="tab" data-bs-toggle="tab">Settings</a>
        </li>
      </ul>
      <!-- tab content -->
      <div class="tab-content">
        <!-- ---------------------------- participants ------------------------->
        <div id="participants-tab" class="tab-pane active">
          <div class="tab-container">
            <% if (trip.participantsStatus[userID] === 'owner') { %>
              <div class="tab-content-top-buttons">
                <button id="add-friend-button" class="btn btn-secondary" onclick="showAddFriendsModal();">
                  Add friends
                </button>
              </div>
            <%} %>
          </div>
          <!-- overview ------------------------------------>
          <div id="participants-overview-container">
            <% var numberParticipants = 0; %>
            <% var numberPendingParticipants = 0; %>
            <% for (const [uid, status] of Object.entries(trip.participantsStatus)) { %>
              <% if (status != 'pending') { %>
                <% numberParticipants ++; %>
              <%} else { %>
                <% numberPendingParticipants ++; %>
              <%} %>
            <%} %>
            <h5>Overview:</h5>
            <p>Participants: <%= numberParticipants %></p>
            <p>Pending participants: <%= numberPendingParticipants %></p>
            <input type="hidden" id="askAllParticipantsDates" value="<%= trip.askAllParticipantsDates %>">
            <% if (trip.askAllParticipantsDates === false) { %>
              <p>Chosen dates: <%= trip.finalizedStartDate %> - <%= trip.finalizedEndDate %></p>
              <p>Waiting for participants to confirm availability</p>
            <%} else { %>
              <% if (trip.finalizedEndDate === null) { %>
                <p>Final dates not chosen yet. Common availabilities so far:</p>
                <ul>
                <% for(let dateset of commonAvailabilities) { %>
                  <li><%= moment(dateset.start).format('DD MMM YYYY') %> - <%= moment(dateset.end).format('DD MMM YYYY') %></li>
                <% } %>
                </ul>
              <%} else { %>
                <p>Final dates chosen: <%= moment(trip.finalizedEndDate).format('DD MMM YYYY') %></p>
              <%} %>
            <%} %>
          </div>
          <div id="participants-details-div-container">
            <!-- authenticated user details  ---------------->
            <div class="participant-div">
              <div class="participant-div-username">
                <div class="username-picture-container">
                  <% if (profileDetails.picturePath === null) { %>
                    <img class="profile-picture" src="/assets/defaultUserImage.jpg" alt="User profile picture">
                  <% } else { %>  
                    <img class="profile-picture" src="<%= profileDetails.picturePath %>" alt="User profile picture">
                  <% } %> 
                  <p><%= userIDUsernameMap[userID] %></p>
                </div>
              </div>
              <div class="participant-div-status">
                <h4>Status</h4>
                <p><%- trip.participantsStatus[userID] %></p>
              </div>
              <div class="participant-div-dates-available">
                <h4>Dates Available</h4>
                <div class="dates-available-container">
                  <% var datePreferencesCurrentUser = trip.datesPreferences[userID]; %>
                  <% if (datePreferencesCurrentUser == null) { %>
                    <p>Not entered yet</p>
                  <% } else { %> 
                    <ul>
                      <% var indexCurrentUser = 0; %>
                      <% Object.keys(datePreferencesCurrentUser).forEach(function(indexCurrentUser) { %>
                        <li id="trip-availability_uid_<%- userID %>_<%- indexCurrentUser %>" >
                          <%- moment(datePreferencesCurrentUser[indexCurrentUser][0].toDate()).format('DD MMM YYYY') %> - <%- moment(datePreferencesCurrentUser[indexCurrentUser][1].toDate()).format('DD MMM YYYY') %>
                        </li>
                        <% indexCurrentUser ++; %>
                      <% }); %>
                    </ul>
                  <% } %> 
                </div>
              </div>
              <div class="participant-div-dates-action">
                <% if (trip.participantsStatus[userID] === 'pending') { %>
                  <button id="abandon-trip-button" class="btn btn-secondary" onclick="acceptTripInvite('<%= tripID %>', '<%= JSON.stringify(trip.participantsStatus) %>','<%= userID %>');">
                    Join
                  </button>
                  <button id="abandon-trip-button" class="btn btn-secondary" onclick="abandonTrip('<%= tripID %>', '<%= JSON.stringify(trip.participantsStatus) %>','<%= userID %>');">
                    Don't join
                  </button>
                <% } else { %> 
                  <button id="abandon-trip-button" class="btn btn-secondary" onclick="abandonTrip('<%= tripID %>', '<%= JSON.stringify(trip.participantsStatus) %>','<%= userID %>');">
                    Abandon trip
                  </button>
                  <button id="edit-preferences-button" class="btn btn-secondary" onclick="$('#edit-participant-details-modal').show();">
                    <i class="fas fa-pencil"></i>
                  </button>
                <% } %> 
              </div>
            </div>
            <!-- all other users  ------------------------>
            <% Object.keys(trip.participantsStatus).forEach(function(uid) { %>
              <% if (uid !== userID) { %>
                <div class="participant-div">
                  <div class="participant-div-username">
                    <div class="username-picture-container">
                      <% if (friendsProfiles[uid].picturePath === null) { %>
                        <img class="profile-picture" src="/assets/defaultUserImage.jpg" alt="User profile picture">
                      <% } else { %>  
                        <img class="profile-picture" src="<%= friendsProfiles[uid].picturePath %>" alt="User profile picture">
                      <% } %> 
                      <p><%= friendsProfiles[uid].username %></p>
                    </div>
                  </div>
                  <div class="participant-div-status">
                    <h4>Status</h4>
                    <p><%- trip.participantsStatus[uid] %></p>
                  </div>
                  <% if (trip.askAllParticipantsDates === true) { %>
                    <div class="participant-div-dates-available">
                      <h4>Dates Available</h4>
                      <div class="dates-available-container">
                        <% var datePreferences = trip.datesPreferences[uid]; %>
                        <% if (datePreferences == null) { %>
                          <p>Not entered yet</p>
                        <% } else { %> 
                          <% var index = 0; %>
                          <% Object.keys(datePreferences).forEach(function(index) { %>
                            <input class="form-control" 
                                id="trip-availability_uid_<%- uid %>_<%- index %>" 
                                type="text" 
                                name="daterange"
                                value="<%- moment(datePreferences[index][0].toDate()).format('DD MMM YYYY') %> - <%- moment(datePreferences[index][1].toDate()).format('DD MMM YYYY') %>"
                                disabled/>
                            <% index ++; %>
                          <% }); %>
                        <% } %> 
                      </div>
                    </div>
                  <%} %>
                  <!-- allow to remove users only if user is trip owner -->
                  <% if (trip.participantsStatus[userID] === 'owner') { %>
                    <div class="participant-div-dates-action">
                      <button class="btn btn-secondary hundred-twenty" onclick="removeUserFromTrip('<%= tripID %>', '<%= uid %>');">
                        <i class="fas fa-trash"></i>
                      </button>
                    </div>
                  <%} %>
                </div>
              <%} %>
            <% }); %>
          </div>
        </div>
        <div id="itinerary" class="tab-pane fade">
          <p>Itinerary: </p>
        </div>
        <div id="polls" class="tab-pane fade">
          <p>Polls: </p>
        </div>
        <div id="settings" class="tab-pane fade">
          <p>Settings: </p>
        </div>
    </div>
  </div>
  <!-- modal to add friends  ---------------------------------------------->
  <section>
    <!-- friendship types -->
    <% var friendshipsUIDs = profileDetails.friends; %>
    <% var friendshipsAccepted = []; %>
    <% Object.keys(friendshipsUIDs).forEach(function(friendUid) { %>
      <% if (friendshipsUIDs[friendUid] === 'friends') { %>
        <% friendshipsAccepted.push(friendUid) %>
      <% } %>
    <% }); %>
    <!-- add friend modal -->
    <div id="add-friend-modal" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add friends to trip</h5>
          </div>
          <div class="modal-body">
            <div>
              <p>Step 1. If you haven't already</p>
              <a class="btn btn-secondary" href="/friends" rel="nofollow">Add friends to your profile</a>
            </div>
            <!-- https://stackoverflow.com/questions/69530889/adding-bootstrap-5-search-bar-dropdown -->
            <div class="multiselect-friends-container">
              <p>Step 2. Select friends you want to add to this trip</p>
              <select id="multiselect-friends" multiple placeholder="Add friends">
                <% for (let friendUid of friendshipsAccepted) { %>
                  <% if (! trip.participantsStatus.hasOwnProperty(friendUid)) { %>
                    <% var friendProfile = friendsProfiles[friendUid] %>
                    <option value="<%= friendUid %>"><%= friendProfile.username %></option>
                  <% } %> 
                <% } %> 
              </select>
            </div>
          </div>
          <div class="modal-footer" id="trips-modal-footer">
            <button id="cancel-friends-button" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button id="save-friends-button" type="button" class="btn btn-secondary" onclick="addFriendsToTrip()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- modal to edit trip participant details  ---------------------------------------------->
  <section>
    <div id="edit-participant-details-modal" class="modal" tabindex="-1" data-bs-backdrop="static">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title">Your availabilities</h1>
            <button type="button" class="btn-close" onclick="$('#edit-participant-details-modal').hide();" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- existing availability date-range picker -->
            <div id="date-availabilities-container">
              <% if (datePreferencesCurrentUser != null) { %>
                <% var indexCurrentUserModal = 0; %>
                <% Object.keys(datePreferencesCurrentUser).forEach(function(indexCurrentUserModal) { %>
                  <div id="date-availability-<%- indexCurrentUserModal %>" class="date-availability-container">
                    <div class="horizontal-flex">
                      <div class="label-and-input-container">
                        <div class="form-control" >
                          <i class="fa fa-calendar"></i>
                          <input class="form-control" id="new-trip-availability-<%- indexCurrentUserModal %>" type="text" name="daterange"
                            value="<%- moment(datePreferencesCurrentUser[indexCurrentUserModal][0].toDate()).format('MM/DD/YYYY') %> - <%- moment(datePreferencesCurrentUser[indexCurrentUserModal][1].toDate()).format('MM/DD/YYYY') %>"
                          />
                        </div>
                      </div>
                      <div class="date-availability-delete-button-container">
                        <button id="delete_date-availability-<%- indexCurrentUserModal %>" 
                            class="btn btn-secondary" 
                            onclick="deleteDateAvailability(this);"
                            name="<%- indexCurrentUserModal %>"
                            >
                          <span class="material-symbols-outlined modified">delete</span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- add event listeners to availability date pickers-->
                  <script>
                    $(function() {
                      $('#new-trip-availability-<%- indexCurrentUserModal %>').daterangepicker({
                        opens: 'left'
                      });
                    });
                    $(`#new-trip-availability-<%- indexCurrentUserModal %>`).on('apply.daterangepicker', function(event, picker) {
                      let newValue = picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY');
                
                      document.getElementById("new-trip-availability-<%- indexCurrentUserModal %>").value = newValue;
                    });
                    </script>
                  <% indexCurrentUserModal ++; %>
                <% }); %>
              <% } %> 
            </div>

            <!-- button to add more date ranges -->
            <div id="add-dates-div">
              <p>Add more date availabilities</p>
              <button class="btn btn-secondary" onclick="addDateAvailabilityInput();">
                <span class="fa-solid fa-add"></span>
              </button>
            </div>

            <!-- days willing to travel -->
            <div id="days-availability-container">
              <label for="working-days-availability" class="form-label">
                How many working days are you willing to travel?
              </label>
              <input autocomplete="one-time-code" type="number" 
                class="form-control" id="working-days-availability" required=true 
                value="<%- trip.workingDaysAvailability[userID] %>"
                >
              <label for="total-days-availability" class="form-label">
                How many days are you willing to travel in total?
              </label>
              <input autocomplete="one-time-code" type="number" 
                class="form-control" id="total-days-availability" required=true 
                value="<%- trip.totalDaysAvailability[userID] %>"
                >
            </div>

          </div>
          <div class="modal-footer" id="edit-participant-details-modal-footer">
            <button id="new-trip-cancel-button" type="button" class="btn btn-secondary" onclick="$('#edit-participant-details-modal').hide();">Cancel</button>
            <button id="new-trip-create-button" type="submit" class="btn btn-secondary" onclick="saveUserAvailabilities('<%= trip.tripID %>');">Save</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- generic modal for user confirmation -->
  <section>
    <div id="generic-modal" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="generic-modal-title"></h5>
          </div>
          <div class="modal-body">
            <p id="generic-modal-message"></p>
          </div>
          <div class="modal-footer" id="generic-modal-footer">
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <%- include('partials/footer'); %>
</body>

</html>