<!DOCTYPE html>
<html lang="en">

<head>
  <!-- SHARED HEAD -->
  <%- include('partials/sharedHead') %>

  <!-- Title tag in the browser and Google results -->
  <title>GroupTripper | Your trips</title>
  <meta property="og:title" content="GroupTripper: best free group trip planner app - your trips" data-rh="true">
  <meta property="twitter:title" content="GroupTripper: best free group trip planner app - your trips" data-rh="true">
  <meta name="description" content="Plan your group vacation or trip with the best online travel planner app. Create itineraries faster as a group by sharing suggestions, creating polls, and voting with your friends." data-rh="true">
  <meta property="og:description" content="Plan your group vacation or trip with the best online travel planner app. Create itineraries faster as a group by sharing suggestions, creating polls, and voting with your friends." data-rh="true">
  <meta name="twitter:description" content="Plan your group vacation or trip with the best online travel planner app. Create itineraries faster as a group by sharing suggestions, creating polls, and voting with your friends." data-rh="true">
  <meta property="og:image:alt" content="Screenshot of GroupTripper: one view for your map and itinerary" data-rh="true">

  <!-- css -->
  <link rel="stylesheet" href="/css/hero-image.css">
  <link rel="stylesheet" href="/css/generic.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/trips.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  
  <!-- JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <!-- https://www.daterangepicker.com/ -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <script src="/js/trips.js"></script>
</head>

<body>
  <div>
    <%- include('partials/header'); %>
    <%- include('partials/heroImage'); %>
  </div>
  <div class="outer-container">
    <div class="title">
      <h2><%= name %>'s trips</h2>
    </div>
    <div class="top-buttons">
      <div class="dropdown">
        <!-- By default, displays only upcoming trips. When selection changes, text on the menu button changes -->
        <button class="btn btn-secondary dropdown-toggle" type="button" id="tripTypeDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
          Upcoming Trips
        </button>
        <ul class="dropdown-menu" aria-labelledby="tripTypeDropdownButton">
          <li><button class="dropdown-item" onclick="filterTrips(this)">Upcoming trips</button></li>
          <li><button class="dropdown-item" onclick="filterTrips(this)">All</button></li>
          <li><button class="dropdown-item" onclick="filterTrips(this)">Past trips</button></li>
        </ul>
      </div>
      <div>
        <button class="btn btn-secondary" onclick="$('#new-trip-modal').show();">New trip</a>
      </div>
    </div>
    <div id="trips-container">
      <% for(let trip of trips){  %>
        <div class="trip" id="trip-<%= trip.tripID %>" 
          onclick="redirectTripView(this, '<%= trip.tripID %>');" 
          name="<%= trip.status %>"
          style="background-image: url('<%= trip.picture.src.medium %>');">
          
          <div class="trip-title-block">
            <h3 id="trip-title-<%= trip.tripID %>"><%= trip.tripTitle %></h3>
            <% if (trip.finalizedStartDate === null) { %>
              <p id="trip-date-<%= trip.tripID %>">Dates still to be finalized</p>
            <%} else { %>
              <p id="trip-date-<%= trip.picture.photographer %>"><%= trip.finalizedStartDate %> - <%= trip.finalizedEndDate %></p>
            <%} %>
          </div>
          <div class="trip-actions">
            <a class="cover_image-block" href="https://www.pexels.com">
              <img class="pexels-logo" src="https://images.pexels.com/lib/api/pexels.png" />
              <span class="cover_image" alt="'<%= trip.picture.alt %>' by <%= trip.picture.photographer %>" src="<%= trip.picture.src.medium %>"></span>
            </a>
            <!-- https://fonts.google.com/icons?selected=Material+Symbols+Outlined:share:FILL@0;wght@400;GRAD@0;opsz@48&icon.query=share -->
            <!-- when clicked, stops propagation of click event so it doesn't trigger click on parent div -->
            <button id="delete_trip_button_<%= trip.tripID %>" class="btn btn-secondary" onclick="event.stopPropagation(); showModal(this);" name="delete_<%= trip.tripID %>">
              <span class="material-symbols-outlined modified">delete</span>
            </button>
            <!--button class="btn btn-secondary" onclick="showModal(this)" name="share_<%= trip.tripID %>">
              <span class="material-symbols-outlined modified">share</span>
            </button-->
          </div>
        </div>
      <%} %>
    </div>
  </div>
  <section>
    <!-- modal displaying authentication-related errors / info messages -->
    <div id="trips-modal" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="trips-modal-title"></h5>
          </div>
          <div class="modal-body">
            <p id="trips-modal-message"></p>
          </div>
          <div class="modal-footer" id="trips-modal-footer">
            <button id="cancel-button" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button id="delete-button" type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="deleteTrip(this);">Yes, delete</button>
            <button id="close-button" type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK, close</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <!-- modal displaying form to create new trip -->
    <div id="new-trip-modal" class="modal" tabindex="-1" data-bs-backdrop="static">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title" id="new-trip-modal-title">New Trip</h1>
            <button type="button" class="btn-close" onclick="$('#new-trip-modal').hide();" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <label for="new-trip-title" class="form-label">Title</label>
            <input autocomplete="one-time-code" class="form-control" id="new-trip-title" required=true >

            <hr class="dotted">
            <h4>Dates</h4>
            
            <div class="dropdown date-collection-type">
              <button name="1" 
                      class="btn btn-secondary dropdown-toggle" 
                      type="button" id="date-collection-type" 
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Ask all participants when they're available before finalizing dates
              </button>
              <ul class="dropdown-menu date-collection-type" aria-labelledby="date-collection-type">
                <li>
                  <button class="dropdown-item date-collection-type" 
                          onclick="updateDateCollectionTypeDropdown(this);"
                          name="1"
                          >
                    Ask all participants when they're available before finalizing dates
                  </button>
                </li>
                <li>
                  <button class="dropdown-item date-collection-type" 
                          onclick="updateDateCollectionTypeDropdown(this);"
                          name="2"
                          >
                  Propose dates and ask participants to accept or decline</button></li>
              </ul>
            </div>
            
            <!-- availability date-range picker -->
            <div id="date-availabilities-container">
              <div id="date-availability-1" class="date-availability-container">
                <div class="horizontal-flex">
                  <div class="label-and-input-container">
                    <label for="new-trip-availability-1" class="form-label">When are you available?</label>
                    <div class="form-control" >
                      <i class="fa fa-calendar"></i>
                      <input class="form-control" id="new-trip-availability-1" type="text" name="daterange"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- button to add more date ranges -->
            <div id="add-dates-div">
              <p>Add more date availabilities</p>
              <button class="btn btn-secondary" onclick="addDateAvailabilityInput();">
                <span class="fa-solid fa-add"></span>
              </button>
            </div>

            <!-- days willing to travel -->
            <div id="days-availability-container">
              <label for="working-days-availability" class="form-label">
                How many working days are you willing to travel?
              </label>
              <input autocomplete="one-time-code" type="number" class="form-control" id="working-days-availability" required=true >
              <label for="total-days-availability" class="form-label">
                How many days are you willing to travel in total?
              </label>
              <input autocomplete="one-time-code" type="number" class="form-control" id="total-days-availability" required=true >
            </div>

          </div>
          <div class="modal-footer" id="new-trip-modal-footer">
            <button id="new-trip-cancel-button" type="button" class="btn btn-secondary" onclick="$('#new-trip-modal').hide();">Cancel</button>
            <button id="new-trip-create-button" type="submit" class="btn btn-secondary" onclick="saveTrip();">Save</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include('partials/footer'); %>
  <script>
    $(function() {
      $('#new-trip-availability-1').daterangepicker({
        opens: 'left',
        minYear: moment().year(),
        startDate: moment().date(),
        endDate: moment().date()
      });
    });
    $(`#new-trip-availability-1`).on('apply.daterangepicker', function(event, picker) {
      let newValue = picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY');

      document.getElementById("new-trip-availability-1").value = newValue;
    });
    </script>
</body>

</html>