<!DOCTYPE html>
<html lang="en">

<head>
  <!-- SHARED HEAD -->
  <%- include('partials/sharedHead') %>

  <!-- Title tag in the browser and Google results -->
  <title>GroupTripper | Your trips</title>
  <meta property="og:title" content="GroupTripper: best free group trip planner app - your trips" data-rh="true">
  <meta property="twitter:title" content="GroupTripper: best free group trip planner app - your trips" data-rh="true">
  <meta name="description" content="Plan your group vacation or trip with the best online travel planner app. Create itineraries faster as a group by sharing suggestions, creating polls, and voting with your friends." data-rh="true">
  <meta property="og:description" content="Plan your group vacation or trip with the best online travel planner app. Create itineraries faster as a group by sharing suggestions, creating polls, and voting with your friends." data-rh="true">
  <meta name="twitter:description" content="Plan your group vacation or trip with the best online travel planner app. Create itineraries faster as a group by sharing suggestions, creating polls, and voting with your friends." data-rh="true">
  <meta property="og:image:alt" content="Screenshot of GroupTripper: one view for your map and itinerary" data-rh="true">

  <!-- css -->
  <link rel="stylesheet" href="/css/generic.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" href="/css/trip.css">

  <!-- JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <!-- https://www.daterangepicker.com/ -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
</head>

<body>
  <div>
    <%- include('partials/header'); %>
  </div>
  <div class="outer-container">
    <div class="title-container"
      style="background-image: url('<%= trip.picture.src.landscape %>');"
      alt="'<%= trip.picture.alt %>' by <%= trip.picture.photographer %>" src="<%= trip.picture.src.medium %>">
      <h1 class="title"><%= trip.tripTitle %></h1>
    </div>

    <div class="trip-tab" id="trip-<%= trip.tripID %>" >
      <!-- tab names -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#participants" data-bs-toggle="tab">Participants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#itinerary" data-bs-toggle="tab" data-bs-toggle="tab">Itinerary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#polls" data-bs-toggle="tab" data-bs-toggle="tab">Polls</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#settings" data-bs-toggle="tab" data-bs-toggle="tab">Settings</a>
        </li>
      </ul>
      <!-- tab content -->
      <div class="tab-content">
        <div id="participants" class="tab-pane active">
          <div class="tab-container">
            <div class="tab-content-top-buttons">
              <button id="add-friend-button" class="btn btn-secondary" onclick="event.stopPropagation(); showModal(this);">
                Add friend
              </button>
              <button id="abandon-trip-button" class="btn btn-secondary" onclick="event.stopPropagation(); showModal(this);">
                Abandon trip
              </button>
            </div>
          </div>
          <div id="participants-overview-container">
            <% var numberParticipants = Object.keys(trip.participantsStatus).length; %>
            <h5>Overview:</h5>
            <p>Participants: <%= numberParticipants %></p>
            <% if (trip.askAllParticipantsDates === false) { %>
              <p>Chosen dates: <%= trip.finalizedStartDate %> - <%= trip.finalizedEndDate %></p>
            <%} else { %>
              <!-- TODO: display common availabilities so far or chosen dates if all confirmed -->
              <% if (trip.finalizedEndDate === null) { %>
                <p>Final dates not chosen yet. Common availabilities so far: <%= commonAvailabilities %></p>
              <%} %>
            <%} %>
          </div>
          <div id="participants-table-div">
            <table id="participants-table">
              <tr>
                <th>User</th>
                <th>Status</th>
                <th>Dates Available</th>
                <th>Action</th>
              </tr>
              
              <% Object.keys(trip.participantsStatus).forEach(function(key) { %>
                <tr>
                  <td><%- key %></td>
                  <td><%- trip.participantsStatus[key] %></td>
                  <td>Dates placeholder</td>
                  <td>Some action</td>
                </tr>
              <% }); %>
            </table>
          </div>
        </div>
        <div id="itinerary" class="tab-pane fade">
          <p>Itinerary: </p>
        </div>
        <div id="polls" class="tab-pane fade">
          <p>Polls: </p>
        </div>
        <div id="settings" class="tab-pane fade">
          <p>Settings: </p>
        </div>
    </div>
  </div>
  <section>
    <!-- modal displaying authentication-related errors / info messages -->
    <div id="trips-modal" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="trips-modal-title"></h5>
          </div>
          <div class="modal-body">
            <p id="trips-modal-message"></p>
          </div>
          <div class="modal-footer" id="trips-modal-footer">
            <button id="cancel-button" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button id="delete-button" type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="deleteTrip(this);">Yes, delete</button>
            <button id="close-button" type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK, close</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <%- include('partials/footer'); %>
</body>

</html>